@media (max-width: 600px) {
    html {
        font-size: 40%;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    html {
        font-size: 45%;
    }
}

@media (min-width: 801px) and (max-width: 1000px) {
    html {
        font-size: 50%;
    }
}

@media (min-width: 1001px) and (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    html {
        font-size: 60%;
    }
}

@media (min-width: 1401px) and (max-width: 1600px) {
    html {
        font-size: 65%;
    }
}
