<div id="sidenav" class="page-row col-xs-2 " style=" ">
    <div ng-hide="collapse">
        <ul class="nav">
            <li></li>
            <li>
                <a>HOME</a>
            </li>
            <li>
                <a>ABOUT</a>
            </li>
            <li>
                <a>RESUME</a>
            </li>
            <li>
                <a>WORK</a>
            </li>
            <li>
                <a>PROJECTS</a>
            </li>
            <li>
                <a>CONTACT</a>
            </li>
            <li></li>
        </ul>
    </div>
</div>
